.homeWrapper > * {
    display: block;
    margin: .4em;
    text-align: center;
}
.homeWrapper h1 {
    color: white;
}
.homeWrapper {
    height: 100vh;
}
.homeGalleryWrapper {
    background-color: transparent;
    margin: auto;
    width: 90vw;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: .5em;
    gap: 2em;
    /* height: 100vh; */
    /* overflow-y: scroll; */
    /* padding-bottom: 2em; */
}
.cocktailsGalleryWrapper {
    background-color: transparent;
    margin: auto;
    width: 90vw;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: .5em;
    gap: 2em;
    height: 100vh;
     overflow-y: scroll;
    padding-bottom: 4em;
}

.cocktailsGalleryWrapper::-webkit-scrollbar {
    display: none;
}

.randomCocktailCard {
    flex-basis: 15%;
    overflow: hidden;
    border-radius: 1em;
    background-color: rgb(0, 0, 0);
    height: 38vh;
} 
.randomCocktailCard:hover {
    transform: scale(1.04);
    cursor: pointer;
}
.randomCocktailCard:hover #img {
    opacity: 0.4;
}

.randomCocktailCard:hover .ingredients li{
    color: white;
}
.randomCocktailCard img {
    width: 100%;
    height: 100%;
    opacity: 0.7;
    transition: all ease-in .5s;
}
.otherCocktails {
    padding: 1em;
    margin-top: 1em;
    border: 1px solid black;
    background-color: transparent;
    cursor: pointer;
    border-radius: 2em;
}

.randomCocktailCard h2 {
    position: absolute;
    z-index: 10;
    width: 100%;
    display: block;
    text-align: center;
    color: white;
}

.center {
    display: block;
    text-align: center;
    margin-bottom: 0;
}
.ingredients {
    width: 100%;
    text-align: center;
    top: 6em;
    /* left: 2em; */
    position: absolute;
}
.ingredients li {
    transition: all ease-out .6s;
    font-size: 1.2rem;
    color: rgba(255, 255, 255, 0);
}

.addIcon {
    position: absolute;
    right: 0.6em;
    top: 1em;
    font-size: 2rem;
    z-index: 20;
    cursor: pointer;
    background-color: transparent;
    width: 2vw;
    border: none;
    color: rgb(7, 194, 7);
}
.addIcon:hover {
    transform: scale(1.1);
}

.greenBG {
    position: absolute;
    right: 0.6em;
    top: 1em;
    font-size: 2rem;
    z-index: 20;
    cursor: pointer;
    width: 2vw;
    border: none;
    color: rgb(214, 10, 10);
}
#btn {
    color: white;
}

.otherCocktails{
    border: 1px solid white;
}