.navbar {
    display: flex;
    justify-content: space-between;
    background-color: white;
}
.ul li{
    padding: 1em;
    display: inline;
}
.navbar a {
    padding-bottom: 0.1em;
    text-decoration: none;
    color: black;
}
.ul {
    padding: 1em;
}
.logo {
    margin-left: 2em;
}
.logo i{
    transform: translateY(30%);
    font-size: 2rem;
}
.logo a {
    text-decoration: none;
    color: black;
}
.navbar ul a:hover {
    border-bottom: 1.4px solid black;
}
#checkout{
    margin-right: .5em;
}

.dropDownDiv {
    display: inline-block;
}
.dropDownDiv:hover .dropDownMenu{
    display: flex;
    cursor: pointer;
}

.dropDownMenu li:hover{
    background-color: white;
}

.dropDownMenu {
    position: absolute;
    display: none;
    flex-direction: column;
    background-color: white;
    z-index: 999;
}
.dropDownMenu li{
    background-color: rgb(240, 240, 240);
    /* padding: 1em; */
}

.downBtn{
    border: none;
    background-color: transparent;
    font-size: 0.9rem;
}

.searchDiv {
    display: inline-block;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto;
    /* border: 1px solid red; */
}

.searchDiv input {
    border: 2px solid black;
    border-radius: 2rem;
    padding: 0.5em;
    width: 25rem;
    font-size: 1.2rem;
}
.searchDiv:hover .searchResult{
    /* display: flex; */
}
#search {
    font-size: 1.5rem;
    border: none;
    background-color: transparent;
    transform: translateX(-3rem);
}

.searchResult {
    width: 100%;
    max-height: 15rem;
    overflow-y: scroll;
    position: absolute;
    /* border: 1px solid red; */
    display: block;
    flex-direction: column;
    top: 3.4rem;
    left: 0;
    z-index: 200;
    background-color: rgba(255, 255, 255, 0.823);
}

.searchResult ul li {
    list-style: none;
    font-size: 1.5rem;
    padding: 0.5em;
}
.searchResult ul {
    display: block;

}
.none {
    display: none;
}